.about {
  padding-bottom: 94px;
  padding-top: 94px;
}

.about__title {
  margin-bottom: 50px;
  @include font(Roboto, 700, 36px, 1.16, 0.03em, var(--title-text-color));
  text-align: center;
}

.about__list {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__link {
  display: inline-block;
}

.about__wrapper {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.about__img {
  display: block;
}

.about__label {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  @include font(Roboto, 700, 14px, 1.14, 0.03em, var(--secondary-text-color));
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}
