:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;

  --logo-white-color: #ffffff;
  --logo-blask-color: #000000;

  --accent-color: #2196f3;
}

@mixin font($ff: Roboto, $fw: 400, $fs: 12px, $lh: 1.62, $ls: 0.03em, $col: currentColor) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $col;
}
.pages {
  background-color: var(--primary-bg-color);
}
